<div class="container">
  <div class="detail-page-header">

  <form action="/search">
    <input class="u-full-width search-input" type="search"
      placeholder="Find any dish" name="q" autofocus>
    <button class="inline-button">Search</button>
  </form>

    <h3>{{query}}</h3>
    <div class="results">
      {{#each spices}}
        <div class="percent-item percent-{{percentage}}">
          <div>{{name}}</div>
          <div>{{percentage}}%</div>
        </div>
      {{/each}}
    </div>


  </div>
</div>
