.header {
  margin-top: 7rem;
  text-align: center;
  font-size: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.footer-right {
  padding-right: 5rem;
}

.search-input {
  margin-top: 2rem;
  max-width: 600px;
}
