.header {
  margin-top: 7rem;
  text-align: center;
  font-size: 2rem;
}

.search-input {
  margin-top: 2rem;
  max-width: 600px;
}

.results {
  margin-top: 5rem;
}

.percent-item {
  display: inline-block;
  margin: 4rem;
}
